@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
}


header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 700;
    flex-shrink: 0 0 auto;
    padding: 10px 150px;
    align-items: center;  
}

p {
    flex: 0 0 auto;
    margin: 0px;
}

ul {
    color: #E5E7EB;
    display: flex;
    font-size: 18px;
    font-weight: 100;
    list-style: none;
    gap: 10px;
    margin-left: auto;
    padding: 0;
    flex: 0 0 auto;
}

a {
    color: white;
    text-decoration: none;
}

.mid-section {
    display: flex;
    flex-direction: column;
}

.mid-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 50px 150px;   
    gap: 40px;
}

.hero-section, .mid-top img {
    width: 500px;
    height: 250px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-text{
    font-size: 48px;
    font-weight: 800;
}

.hero-normal-text {
    font-size: 18px;
    color: #E5E7EB;
}

#sign-up-button {
    background: #3882F6;
    border-radius: 5px;
    border: 0;
    width: 100px;
    height: 30px;
    color: #E5E7EB;
    padding: 0;
    font-weight: 600;
}
.mid-mid {
    background-color: white;
}

.mid-bottom {
    background-color: #E5E7EB;
}

footer {
    background-color: #1F2937;
    color: #F9FAF8; 

    position: absolute;
    bottom: 0;
    width: 98.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
/* TODO: width sticky bottom */
    
}



